.menuBar
{
	POSITION: relative;
	TEXT-ALIGN: center;
}

.Bar
{
	FLOAT: left;
	CURSOR: hand;
	POSITION: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	border: none;

}

.menu
{
	BORDER-RIGHT: buttonhighlight thin outset;
	BORDER-TOP: buttonhighlight thin outset;
	VISIBILITY: hidden;
	BORDER-LEFT: buttonhighlight thin outset;
	LINE-HEIGHT: 140%;
	BORDER-BOTTOM: buttonhighlight thin outset;
	POSITION: absolute;
	white-space: nowrap;
	text-align: left;
}

.menuItem
{
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 10px;
	CURSOR: hand;
	BORDER-BOTTOM: white 1px solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #99CCFF;
	font-weight: normal;
}

.ItemMouseOver
{
	PADDING-RIGHT: 15px;
	PADDING-LEFT: 10px;
	CURSOR: hand;
	COLOR: #FFFFFF;
	BORDER-BOTTOM: white 1px solid;
	BACKGROUND-COLOR: #000066;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;

}

.ItemMouseOut
{
}

.Arrow
{
    FLOAT: right;
    FONT-FAMILY: Webdings;
    POSITION: absolute;
    TEXT-ALIGN: left
}

.barOver
{
	FLOAT: left;
	CURSOR: hand;
	POSITION: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;

}

.leftBar1
{
	POSITION: relative;
	TEXT-ALIGN: right;
	left: 35pt;
	top: 3pt;
}
