P.margin {
	FONT-FAMILY: helvetica, arial, sans-serif; LINE-HEIGHT: 120%; MARGIN-LEFT: 0.5cm; MARGIN-RIGHT: 0.5cm
}
P.nomargin {
	FONT-FAMILY: helvetica, arial, sans-serif; LINE-HEIGHT: 120%; MARGIN-LEFT: 0cm; MARGIN-RIGHT: 0cm
}
P {
	LINE-HEIGHT: 120%
}
.tblborder {
	BORDER-LEFT: #800000 1px solid; BORDER-TOP: #800000 1px solid
}
.tblrightborder {
	BORDER-LEFT: #800000 1px solid; BORDER-RIGHT: #800000 1px solid; BORDER-TOP: #800000 1px solid
}
.tblborder2 {
	BORDER-BOTTOM: #800000 1px solid; BORDER-LEFT: #800000 1px solid; BORDER-TOP: #800000 1px solid
}
.tblrightborder2 {
	BORDER-BOTTOM: #800000 1px solid; BORDER-LEFT: #800000 1px solid; BORDER-RIGHT: #800000 1px solid; BORDER-TOP: #800000 1px solid
}
.dirlabel {
	FONT-FAMILY: helvetica, arial, sans-serif; FONT-WEIGHT: bold; MARGIN-LEFT: 5cm
}
.menuitem {
	FONT-FAMILY: helvetica
}
TD {
	FONT-FAMILY: helvetica, arial, sans-serif
}
LI {
	FONT-FAMILY: helvetica, arial, sans-serif
}
.roman {
	FONT-FAMILY: times, serif
}
.marker {
	BACKGROUND: #f0f0c0
}
CODE {
	COLOR: #202060; FONT-WEIGHT: bold
}
.side-menu {
	FONT-SIZE: 16px; MARGIN-LEFT: 0cm; MARGIN-RIGHT: 0cm
}
.header-login {
	FONT-SIZE: 75%
}
A.menu {
	COLOR: #726461; FONT-FAMILY: helvetica, arial, verdana; TEXT-DECORATION: none
}
.menu-inactive {
	COLOR: #0000ff; FONT-FAMILY: helvetica, arial, verdana; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #8080ff; FONT-FAMILY: helvetica, arial, verdana; TEXT-DECORATION: none
}
.testi-header {
	FONT-SIZE: 80%; LETTER-SPACING: 1pt
}
.testi-table {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid
}
P.testi {
	FONT-FAMILY: helvetica, arial, sans-serif; FONT-SIZE: 65%; LINE-HEIGHT: 120%
}
TEXTAREA {
	FONT-FAMILY: "MS sans serif", helvetica, arial, sans-serif
}
.popupnav {
	BACKGROUND-COLOR: #ffffff; COLOR: #726461; FONT-FAMILY: helvetica, arial, verdana, sans-serif; FONT-SIZE: 90%; TEXT-DECORATION: none
}
A.popupnav:hover {
	COLOR: #8080ff; FONT-FAMILY: helvetica, arial, verdana; TEXT-DECORATION: none
}
.link1 {
	COLOR: #726461; FONT-SIZE: 80%; TEXT-DECORATION: none
}
.greytext {
	COLOR: #726461
}
A.link1:hover {
	COLOR: #8080ff; TEXT-DECORATION: none
}
