TD {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, sans-serif
}
#navspacer {
	FONT-SIZE: 10px; COLOR: #bfbfbf; FONT-FAMILY: arial, sans-serif
}
#pagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 21px; COLOR: #000000; FONT-FAMILY: arial, sans-serif
}
#helptitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: arial, sans-serif
}
#orange {
	FONT-SIZE: 12px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif
}
#smorange {
	FONT-SIZE: 10px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif
}
#dkred {
	FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: arial, sans-serif
}
#smdkred {
	FONT-SIZE: 10px; COLOR: #990000; FONT-FAMILY: arial, sans-serif
}
#green {
	FONT-SIZE: 12px; COLOR: green; FONT-FAMILY: arial, sans-serif
}
#smgreen {
	FONT-SIZE: 10px; COLOR: green; FONT-FAMILY: arial, sans-serif
}
#dklmgreen {
	FONT-SIZE: 12px; COLOR: #66cc33; FONT-FAMILY: arial, sans-serif
}
#smdklmgreen {
	FONT-SIZE: 10px; COLOR: #66cc33; FONT-FAMILY: arial, sans-serif
}
#btblue {
	FONT-SIZE: 12px; COLOR: #3c8ad7; FONT-FAMILY: arial, sans-serif
}
#smbtblue {
	FONT-SIZE: 10px; COLOR: #3c8ad7; FONT-FAMILY: arial, sans-serif
}
#dkblue {
	FONT-SIZE: 12px; COLOR: #000033; FONT-FAMILY: arial, sans-serif
}
#smdkblue {
	FONT-SIZE: 10px; COLOR: #000033; FONT-FAMILY: arial, sans-serif
}
#dkergray {
	FONT-SIZE: 12px; COLOR: #626267; FONT-FAMILY: arial, sans-serif
}
#smdkergray {
	FONT-SIZE: 10px; COLOR: #626267; FONT-FAMILY: arial, sans-serif
}
#dkgray {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: arial, sans-serif
}
#smdkgray {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: arial, sans-serif
}
#mgray {
	FONT-SIZE: 12px; COLOR: #999999; FONT-FAMILY: arial, sans-serif
}
#smgray {
	FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: arial, sans-serif
}
#almostblack {
	FONT-SIZE: 12px; COLOR: #404040; FONT-FAMILY: arial, sans-serif
}
#smalmostblack {
	FONT-SIZE: 10px; COLOR: #404040; FONT-FAMILY: arial, sans-serif
}
#black {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, sans-serif
}
#smblack {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: arial, sans-serif
}
#black13 {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: arial, sans-serif
}
#lgblack {
	FONT-SIZE: 19px; COLOR: #000000; FONT-FAMILY: arial, sans-serif
}
#mblack {
	FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: arial, sans-serif
}
#white {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial, sans-serif
}
#smwhite {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: arial, sans-serif
}
#orangev {
	FONT-SIZE: 12px; COLOR: #ca6400; FONT-FAMILY: verdana
}
#smorangev {
	FONT-SIZE: 10px; COLOR: #ca6400; FONT-FAMILY: verdana
}
#dkredv {
	FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: verdana
}
#smdkredv {
	FONT-SIZE: 10px; COLOR: #990000; FONT-FAMILY: verdana
}
#greenv {
	FONT-SIZE: 12px; COLOR: green; FONT-FAMILY: verdana
}
#smgreenv {
	FONT-SIZE: 10px; COLOR: green; FONT-FAMILY: verdana
}
#dkgrayv {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: verdana
}
#smdkgrayv {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: verdana
}
#almostblackv {
	FONT-SIZE: 12px; COLOR: #404040; FONT-FAMILY: verdana
}
#smalmostblackv {
	FONT-SIZE: 10px; COLOR: #404040; FONT-FAMILY: verdana
}
#blackv {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana
}
#smblackv {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana
}
#lgblackv {
	FONT-SIZE: 19px; COLOR: #000000; FONT-FAMILY: verdana
}
#mblackv {
	FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: verdana
}
#whitev {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: verdana
}
#smwhitev {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana
}
#btbluev {
	FONT-SIZE: 12px; COLOR: #3c8ad7; FONT-FAMILY: verdana
}
#smbtbluev {
	FONT-SIZE: 10px; COLOR: #3c8ad7; FONT-FAMILY: verdana
}
#blackc {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: courier new
}
#breadcrumbnav {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: verdana
}
A.navtop {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.navtop:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.pagesubnav {
	FONT-SIZE: 10px; COLOR: #666666; FONT-FAMILY: verdana,arial; TEXT-DECORATION: none
}
A.pagesubnav:hover {
	FONT-SIZE: 10px; COLOR: #ca6400; FONT-FAMILY: verdana,arial; TEXT-DECORATION: underline
}
pagesubnav2 {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #ebebeb; TEXT-ALIGN: center; TEXT-DECORATION: none
}
pagesubnav3 {
	FONT-WEIGHT: normal; CURSOR: pointer; BACKGROUND-COLOR: #3c8ad7; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.blacknavlink {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.blacknavlink:hover {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
.navblue {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #3c8ad7; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.navblueon {
	FONT-WEIGHT: normal; CURSOR: pointer; BACKGROUND-COLOR: #00a8ff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.navbluespacer {
	BACKGROUND-COLOR: #295c90
}
.navbluespacer2 {
	BACKGROUND-COLOR: #1e7bd7
}
A.nodec {
	TEXT-DECORATION: none
}
A.linkbtblue {
	FONT-SIZE: 12px; COLOR: #3d88d6; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.linkbtblue:hover {
	FONT-SIZE: 12px; COLOR: #3d88d6; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.smlinkbtblue {
	FONT-SIZE: 10px; COLOR: #3d88d6; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.smlinkbtblue:hover {
	FONT-SIZE: 10px; COLOR: #3d88d6; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.linkbtblue {
	FONT-SIZE: 12px; COLOR: #3d88d6; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.linkbtblue:hover {
	FONT-SIZE: 12px; COLOR: #3d88d6; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.almostbktoorng13 {
	FONT-SIZE: 13px; COLOR: #404040; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.almostbktoorng13:hover {
	FONT-SIZE: 13px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.udkgraytoorng {
	FONT-SIZE: 12px; COLOR: #808080; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.udkgraytoorng:hover {
	FONT-SIZE: 12px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.ualmostblacktoorng {
	FONT-SIZE: 12px; COLOR: #606060; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.ualmostblacktoorng:hover {
	FONT-SIZE: 12px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.almostbktoorng {
	FONT-SIZE: 12px; COLOR: #404040; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.almostbktoorng:hover {
	FONT-SIZE: 12px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.white {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.white:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.smwhitev {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: none
}
A.smwhitev:hover {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana, arial, sans-serif; TEXT-DECORATION: underline
}
A.smalmostbktoorng {
	FONT-SIZE: 10px; COLOR: #404040; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.smalmostbktoorng:hover {
	FONT-SIZE: 10px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.bktoorng {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.bktoorng:hover {
	FONT-SIZE: 12px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.ubktoorng {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.ubktoorng:hover {
	FONT-SIZE: 12px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.bktoorng13 {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.bktoorng13:hover {
	FONT-SIZE: 13px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.linkmorange {
	FONT-SIZE: 12px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.linkmorange:hover {
	FONT-SIZE: 12px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.smlinkorange {
	FONT-SIZE: 10px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
A.smlinkorange:hover {
	FONT-SIZE: 10px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.smulinkorange {
	FONT-SIZE: 10px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: underline
}
A.smulinkorange:hover {
	FONT-SIZE: 10px; COLOR: #ca6400; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
.form {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; COLOR: #6d6b6b; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
.buttonsm {
	FONT-SIZE: 11px; CURSOR: hand; FONT-FAMILY: arial,sans-serif
}
.sort {
	FONT-SIZE: 11px; BACKGROUND: white; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: arial,sans-serif
}
.bghighlight {
	BACKGROUND: #ffffcc
}
.bgffffff {
	BACKGROUND: #ffffff
}
.bgededed {
	BACKGROUND: #ededed
}
UL.smsq {
	PADDING-LEFT: 2em; MARGIN-LEFT: 0px; TEXT-INDENT: -0.7em; LIST-STYLE-TYPE: none
}
LI.sq {
	LIST-STYLE-TYPE: square
}
