UNKNOWN {
	FONT-FAMILY: Arial,Helvetica
}
A {
	COLOR: #336699; TEXT-DECORATION: none
}
A:hover {
	COLOR: #336699; TEXT-DECORATION: underline
}
.boxlook {
	FONT-SIZE: 12pt;
	COLOR: #FFFFCC;
	FONT-FAMILY: Verdana, Arial;
	BACKGROUND-COLOR: #003399;
	border: 1px solid #FF9900;

}
.NoChange {
	BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; FONT-SIZE: 8pt; BORDER-LEFT: black 1px groove; WIDTH: 235px; COLOR: black; BORDER-BOTTOM: black 1px groove; FONT-FAMILY: Verdana,Arial; BACKGROUND-COLOR: #cecece
}
.TopMenuItem {
	BORDER-RIGHT: #cecece 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #cecece 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #cecece; PADDING-BOTTOM: 1px; BEHAVIOR: url(/include/hover.htc); BORDER-LEFT: #cecece 1px solid; CURSOR: hand; PADDING-TOP: 1px; BORDER-BOTTOM: #cecece 1px solid; FONT-FAMILY: Verdana,Arial
}
.TopMenuItemOver {
	BORDER-LEFT-COLOR: #808080; BACKGROUND: white; BORDER-BOTTOM-COLOR: #808080; COLOR: #cc6600; BORDER-TOP-COLOR: #808080; BORDER-RIGHT-COLOR: #808080
}
.TopMenuItemClick {
	BORDER-LEFT-COLOR: #808080; BACKGROUND: #808080; BORDER-BOTTOM-COLOR: #808080; COLOR: #cc6600; BORDER-TOP-COLOR: #808080; BORDER-RIGHT-COLOR: #808080
}
.MemberMenuItem {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: white 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: white; PADDING-BOTTOM: 2px; BEHAVIOR: url(/include/hover.htc); BORDER-LEFT: white 1px solid; CURSOR: hand; PADDING-TOP: 2px; BORDER-BOTTOM: white 1px solid; FONT-FAMILY: Verdana,Arial
}
.MemberMenuItemOver {
	BORDER-LEFT-COLOR: #808080; BACKGROUND: #cecece; BORDER-BOTTOM-COLOR: #808080; COLOR: #cc6600; BORDER-TOP-COLOR: #808080; BORDER-RIGHT-COLOR: #808080
}
.MemberMenuItemClick {
	BORDER-LEFT-COLOR: #808080; BACKGROUND: #808080; BORDER-BOTTOM-COLOR: #808080; COLOR: #cc6600; BORDER-TOP-COLOR: #808080; BORDER-RIGHT-COLOR: #808080
}
.MenuItem {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 15px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 8pt;
	BACKGROUND: white;
	PADDING-BOTTOM: 2px;
	BEHAVIOR: url(/include/hover.htc);
	CURSOR: hand;
	PADDING-TOP: 2px;
	FONT-FAMILY: Verdana, Arial;
	border: 0px solid #FF9900;

}
.MenuItemOver {
	BORDER-LEFT-COLOR: #808080; BACKGROUND: #cecece; BORDER-BOTTOM-COLOR: #808080; COLOR: #cc6600; BORDER-TOP-COLOR: #808080; BORDER-RIGHT-COLOR: #808080
}
.MenuItemClick {
	BORDER-LEFT-COLOR: #808080; BACKGROUND: #808080; BORDER-BOTTOM-COLOR: #808080; COLOR: #cc6600; BORDER-TOP-COLOR: #808080; BORDER-RIGHT-COLOR: #808080
}
.JustBeforeLink {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #336699; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.Font7v {
	FONT-SIZE: 7pt; FONT-FAMILY: Verdana, Arial
}
.Font8 {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: arial
}
.Font8Red {
	FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: arial
}
.Font8Blue {
	FONT-SIZE: 8pt; COLOR: #336699; FONT-FAMILY: arial
}
.Font8Orange {
	FONT-SIZE: 8pt; COLOR: #cc6600; FONT-FAMILY: arial
}
.Font8White {
	FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: arial
}
.Font8Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: arial
}
.Font8BoldWhite {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: arial
}
.Font8v {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana, Arial
}
.Font8redv {
	FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Verdana, Arial
}
.Font8Boldv {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana, Arial
}
.Font8BoldGreyv {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: gray; FONT-FAMILY: Verdana, Arial
}
.Font9 {
	FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: arial
}
.Font9v {
	FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
.Font9Gray {
	FONT-SIZE: 9pt; COLOR: gray; FONT-FAMILY: arial
}
.Font9Red {
	FONT-SIZE: 9pt; COLOR: red; FONT-FAMILY: arial
}
.Font9Orange {
	FONT-SIZE: 9pt; COLOR: #cc6600; FONT-FAMILY: arial
}
.Font9Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: arial
}
.Font9Boldv {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
.Font9Boldx {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: black; FONT-FAMILY: arial
}
.Font9BoldRed {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: red; FONT-FAMILY: arial
}
.Font9BoldWhite {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: white; FONT-FAMILY: arial
}
.Font9BoldWhiteV {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: white; FONT-FAMILY: Verdana
}
.Font10 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: arial
}
.Font10v {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
.Font10Red {
	FONT-SIZE: 10pt; COLOR: red; FONT-FAMILY: arial
}
.Font10Redv {
	FONT-SIZE: 10pt; COLOR: red; FONT-FAMILY: Verdana,Arial
}
.Font10Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: arial
}
.Font10Boldv {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
.Font10BoldRed {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: red; FONT-FAMILY: arial
}
.Font10BoldBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #336699; FONT-FAMILY: arial
}
.Font10BoldOrange {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #cc6600; FONT-FAMILY: arial
}
.Font10BoldWhite {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: arial
}
.Font10BoldWhiteV {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Verdana,Arial
}
.Font11 {
	FONT-SIZE: 11pt; COLOR: black; FONT-FAMILY: arial
}
.Font11v {
	FONT-SIZE: 11pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
.Font11BoldWhite {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: white; FONT-FAMILY: arial
}
.Font11BoldWhiteV {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: white; FONT-FAMILY: Verdana,Arial
}
.Font11BoldOrange {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #cc6600; FONT-FAMILY: arial
}
.Font11BoldBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #336699; FONT-FAMILY: arial
}
.Font11Orange {
	FONT-SIZE: 11pt; COLOR: #cc6600; FONT-FAMILY: arial
}
.Font11Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: black; FONT-FAMILY: arial
}
.Font12 {
	FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY: arial
}
.Font12v {
	FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
.Font12Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY: arial
}
.Font12Boldv {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
.Font12BoldBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #336699; FONT-FAMILY: arial
}
.Font12BoldOrange {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #cc6600; FONT-FAMILY: arial
}
.Font12Orange {
	FONT-SIZE: 12pt; COLOR: #cc6600; FONT-FAMILY: arial
}
.Font13 {
	FONT-SIZE: 13pt; COLOR: black; FONT-FAMILY: arial
}
.Font13v {
	FONT-SIZE: 13pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
.Font13Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: black; FONT-FAMILY: arial
}
.Font13BoldBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #336699; FONT-FAMILY: arial
}
.Font13BoldOrange {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #cc6600; FONT-FAMILY: arial
}
.Font13BoldWhite {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: white; FONT-FAMILY: arial
}
.Font13BoldRed {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: red; FONT-FAMILY: arial
}
.Font14 {
	FONT-SIZE: 14pt; COLOR: black; FONT-FAMILY: arial
}
.Font14Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: black; FONT-FAMILY: arial
}
.Font14v {
	FONT-SIZE: 14pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
.Font15 {
	FONT-SIZE: 15pt; COLOR: black; FONT-FAMILY: arial
}
.Font15Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 15pt; COLOR: black; FONT-FAMILY: arial
}
.Font15v {
	FONT-SIZE: 15pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
.Font16v {
	FONT-SIZE: 16pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
.Font16Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: black; FONT-FAMILY: arial
}
.Font16BoldBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #336699; FONT-FAMILY: arial
}
.Font16BoldOrange {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #cc6600; FONT-FAMILY: arial
}
.Font17v {
	FONT-SIZE: 17pt; FONT-FAMILY: Verdana, Arial
}
.Font18v {
	FONT-SIZE: 18pt; COLOR: black; FONT-FAMILY: Verdana,Arial
}
.Font18Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: black; FONT-FAMILY: arial
}
.Font18BoldBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #336699; FONT-FAMILY: arial
}
.Font22BoldBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 22pt; COLOR: #336699; FONT-FAMILY: arial
}
.Font26BoldBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 26pt; COLOR: #336699; FONT-FAMILY: arial
}
.Font32BoldBlue {
	FONT-WEIGHT: bold; FONT-SIZE: 32pt; COLOR: #336699; FONT-FAMILY: arial
}
.CheckBox {
	BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; BORDER-LEFT: black 1px groove; BORDER-BOTTOM: black 1px groove
}
.TextBox {
	FONT-SIZE: 9pt;
	COLOR: black;
	FONT-FAMILY: verdana,arial;
	BACKGROUND-COLOR: white;
	border: 1px solid #CCCCCC;

}
.TextBox2 {
	BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; FONT-SIZE: 10pt; BORDER-LEFT: black 1px groove; COLOR: black; BORDER-BOTTOM: black 1px groove; FONT-FAMILY: Verdana,arial; BACKGROUND-COLOR: #cecece
}
.TextBox3 {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 7pt; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: verdana,arial; BACKGROUND-COLOR: white
}
.ClearTextBox {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 8pt; BORDER-BOTTOM-WIDTH: 0px; COLOR: gray; FONT-FAMILY: Verdana,arial; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
.Button1 {
	BORDER-RIGHT: black 1px groove; BORDER-TOP: black 1px groove; FONT-SIZE: 8pt; BORDER-LEFT: black 1px groove; COLOR: white; BORDER-BOTTOM: black 1px groove; FONT-FAMILY: arial; BACKGROUND-COLOR: #336699
}
.myMenu {
	font-family: "Pengadaan Alat Berat";
	font-size: 9pt;
	border: 1px none #FF9900;
}
.boxPutih {
	FONT-SIZE: 9pt;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial;
	border: 1px solid #9999CC;
	text-decoration: blink;
	text-align: center;
	background-color: #FFFFFF;


}
.Font8vu {
	FONT-SIZE: 8pt;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	text-decoration: underline;

}
.tblrow {
	cursor: hand;
}
.menu {
	text-decoration: none;
}
.menu:active {
	background-color: #999999;
}
.Font5v {

	FONT-SIZE: 6pt; FONT-FAMILY: Verdana, Arial
}
.Font15u {

	FONT-SIZE: 15pt;
	COLOR: black;
	FONT-FAMILY: arial;
	text-decoration: underline;
}
