<div class="modal-dialog ">
  <div class="modal-content ">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Ticket Overview</h4>
    </div>
    <div class="modal-body">
   
              <img src="../images/infomedia.png" width="100px">
              <div class="row">
                <div class="col-xs-6">
                  <h4>Infomedia Nusantara.</h4>
                  <p><a href="http://www.infomedia.co.id">www.infomedia.co.id</a></p>
                  <p>Jl. RS. Fatmawati 77-81<br>
                    Jakarta 12150<br>
                    Indonesia
                  </p>
                  <p>
                    Telephone:  +62 21 720 1221<br>
                    Fax:  +62 21 720 1226 
                  </p>
                </div>
                <div class="col-xs-6 text-right">
                  <p class="h4">#{ticket}</p>
                  <h5>{timenow}</h5>           
                </div>
              </div>          
              <div class="well m-t">
                <div class="row">
                  <div class="col-xs-7">
                    <strong>FROM:</strong>
                    <h4>{nama}</h4>
                    <p>
                      kategori : {kategori}<br>
                      sub kategori : {sub_kategori}<br>
                    </p>
                  </div>
                  <div class="col-xs-5">
                    <strong>CONTACT INFO:</strong>
                    <p>{alamat}<br>
                      Phone: {number}</p>
                    
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                  {keterangan}
                </div>
                </div>
              </div>
              <p class="m-t m-b">Complaint date: <strong>{formattimestamp}</strong><br>
                  Ticket status: <span class="label bg-success">{ticket_status}</span><br>
                  Ticket ID: <strong>#{ticket}</strong>
              </p>
             

    <div class="modal-footer">
      <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>

    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->