 <nav class="nav-primary hidden-xs">
                  <ul class="nav">
                    <li  >
                      <a href="index.html"   class="active">
                        <i class="fa fa-dashboard icon">
                          <b class="bg-danger"></b>
                        </i>
                        <span>Home</span>
                      </a>
                    </li>
                    <li>
                      <a href="#layout"  >
                        <i class="fa fa-columns icon">
                          <b class="bg-warning"></b>
                        </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                        <span>Form</span>
                      </a>
                      <ul class="nav lt">
                        <li >
                          <a href="../app/f_ticket.php" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>Form Contact</span>
                          </a>
                        </li>
                      </ul>
                    </li>

                    <li style="{display}">
                      <a href="#layout"  >
                        <i class="fa fa-columns icon">
                          <b class="bg-info"></b>
                        </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                        <span >Grafik</span>
                      </a>
                      <ul class="nav lt">
                        <li >
                          <a href="../app/graph.php" >                                                        
                            <i class="fa fa-angle-right"></i>
                            <span>Grafik</span>
                          </a>
                        </li>
                      </ul>
                    </li>

                  
                  </ul>
                </nav>