<STYLE TYPE="text/css">
<!--
    A {text-decoration: none; color: #0033FF;}
    A:link {text-decoration: none; color: #0033FF;}
    A:visited {text-decoration: none; color: #0033FF;}
    A:active {text-decoration: none; color: #0033FF;}
    A:hover {text-decoration: underline; color: #FF6666;}

    A.nav {text-decoration: none; color: #FFFFFF;}
    A.nav:link    {text-decoration: none; color: #FFFFFF;}
    A.nav:visited {text-decoration: none; color: #FFFFFF;}
    A.nav:active  {text-decoration: none; color: #FFFFFF;}
    A.nav:hover   {text-decoration: underline; color: #FFFF00;}

    A.header {text-decoration: none; color: #FFFFFF;}
    A.header:link {text-decoration: none; color: #FFFFFF;}
    A.header:visited {text-decoration: none; color: #FFFFFF;}
    A.header:active {text-decoration: none; color: #FFFFFF;}
    A.header:hover {text-decoration: underline; color: #FFFF00;}
    
    body {margin-left: 5px; margin-top: 5px; margin-right: 5px; background-image: url(../images/paper.jpg); font-family: Verdana,sans-serif,Arial,Helvetica;}
    body.nav {background: #306898; color: #FFFFFF; }
    body.header {background-image: url(../images/lines.gif); background: #3A4070 url(../images/globe.gif) no-repeat top right;}  
    *.printer_only {display:none; visibility:collapse;}
    pre { font-family: Verdana,Lucida Console, monospace; font-size: 10pt; }

    TABLE {border: 0;  border-spacing:0px; empty-cells:show; }
    TH {font-family: Verdana,Arial,Helvetica,sans-serif; background: #666699; color: #FFFFFF; 
        font-size: 11px; font-weight: normal; height:25px;}
    TD {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px;}
    *.judul {font-family: Verdana,Arial,Helvetica,sans-serif; color: #003399; font-size: 12px; font-weight: bold;}
    *.namafield {font-family: Verdana,Arial,Helvetica;  font-size: 11px; text-align:right; font-weight: bold;}
    TD.ganjil {font-family: Verdana,Arial,Helvetica,sans-serif; background: #FFFFFF; color: #000000; font-size: 11px; height:16px;}
    TD.genap {font-family: Verdana,Arial,Helvetica,sans-serif; background: #FFFFCC; color: #000000; font-size: 11px; height:16px;}
    TD.navitem {font-family: sans-serif,Verdana,Arial,Helvetica ; color: #FFFFFF; font-size: 10px; font-weight: bold; height: 16px}
    *.user {font-family: Verdana,Arial,Helvetica,sans-serif; color: #FFFF00; font-size: 11px;}
    *.date {font-family: Verdana,Arial,Helvetica,sans-serif; color: #00FFFF; font-size: 11px;}
    *.headertitle {font-family: Verdana,Arial,Helvetica,sans-serif; color: yellow; font-size: 13px; font-weight: bold;}
    *.headersubtitle {font-family: Verdana,Arial,Helvetica,sans-serif; color: white; font-size: 11px; font-weight: normal;}
    *.welcome {font-family: Verdana,Arial,Helvetica,sans-serif; color: #FFFFFF; font-size: 11px;}
    *.active_tabstrip {background: #f5f5dc; font-weight: bold;}
    *.inactive_tabstrip {background: #CCCCCC;}
    
    TABLE.nav TD {font-size: 11px; font-weight: normal;}   
    TABLE.list {border: 0; border-spacing:0px; empty-cells:show; border-collapse:collapse; border-color:#C1CDD8;}
    TABLE.list TD {border-bottom:solid #C1CDD8 1px; border-top:solid #C1CDD8 1px; height:20px; padding-left:5px; padding-right:5px;}
    TABLE.list TH {border-bottom:solid #C1CDD8 1px; border-top:solid #C1CDD8 1px; padding-left:5px; padding-right:5px;}
    TABLE.form {border: 0; border-spacing:0px; empty-cells:show; border-collapse:collapse; width: 100%;}
    TABLE.form TD {border-top:solid #C1CDD8 1px; height:24px;}
    TABLE.modul {background: #003366; color: #00DD00; font-family: sans-serif,Verdana,Arial,Helvetica; font-size: 11px; font-weight: bold; border:solid #003366 2px; }
    TD.cboxmodul {background: #999999;}    
 
    *.COPYRIGHT {{font-family: Verdana,Arial,Helvetica,sans-serif; color: #FFFFFF; font-size: 9px;}
/*    
    input{border-style: solid; border-width: 0; border-color:#C1CDD8;}  
    select{border-style: solid; border-width:1; border-color:#C1CDD8;} 
    textarea{font-size:10pt; font-family:Arial; border-style: solid; border-width:1; border-color:#C1CDD8;}
            
    @media print
    {
       *.display_only {display: none;}
    } 
*/
-->    
</STYLE>
