<STYLE TYPE="text/css">
<!--  
    A {text-decoration: none; color: #000000;}
    A:link {text-decoration: none; color: #000000;}
    A:visited {text-decoration: none; color: #000000;}
    A:active {text-decoration: none; color: #000000;}
    A:hover {text-decoration: underline; color: #000000;}

    body {background:  #FFFFFF; color: #000000; font-family: Verdana,Arial,Helvetica,sans-serif;}
    pre { font-family: Verdana,Lucida Console, monospace; font-size: 10pt; }

/*    TABLE {border: 0;  border-spacing:0px; empty-cells:show; } */
    TH {font-family: Arial,Helvetica,sans-serif; background: #FFFFFF; color: #000000; 
        font-size: 9pt; font-weight: bold; height:20pt;}
    TD {font-family: Arial,Verdana,Helvetica,sans-serif; color: #000000; font-size: 9pt; background:#FFFFFF;}
    *.display_only {display:none; visibility:collapse;}
    TD.judul {font-family: Arial,Helvetica,sans-serif; color: #000000; font-size: 11pt; font-weight: bold; height: 12pt;}
    TD.subjudul {font-family: Arial,Helvetica,sans-serif; color: #000000; font-size: 10pt; font-weight: normal; height: 10pt;}
    TD.namafield {font-family: Arial,Verdana,Helvetica,sans-serif;  font-size: 9pt; text-align:right; font-weight: bold;}
    TD.ganjil {font-family: Arial,Verdana,Helvetica,sans-serif; background: #FFFFFF; color: #000000; font-size: 9pt; height:16pt;}
    TD.genap {font-family: Arial,Verdana,Helvetica,sans-serif; background: #FFFFFF; color: #000000; font-size: 9pt; height:16pt;}
    TD.navitem {font-family: sans-serif,Verdana,Arial,Helvetica ; color: #FFFFFF; font-size: 12pt; font-weight: bold; height: 20pt}
    TD.user {font-family: Verdana,Arial,Helvetica,sans-serif; color: #FFFF00; font-size: 12pt; font-weight: bold; }
    TD.date {font-family: Verdana,Arial,Helvetica,sans-serif; color: #FFFFFF; font-size: 11pt;}
    TD.modul {font-family: sans-serif,Verdana,Arial,Helvetica; color: yellow; font-size: 12pt;}
    TD.org {font-family: Verdana,Arial,Helvetica,sans-serif; color: yellow; font-size: 14pt;}
    *.active_tabstrip {background: #CCCCCC; font-weight: bold;}
    *.inactive_tabstrip {background: #FFFFFF; display:none;}
    
    TABLE {background:#FFFFFF;}
    TABLE.display_only {visibility:collapse;}
    TABLE.list {border: 1; border-spacing:0px; empty-cells:show; border-collapse:collapse; border-color:#000000;}
    TABLE.list TH {border:solid #000000 1px; height:14pt; padding-left:5px; padding-right:5px;}
    TABLE.list TD {border:solid #000000 1px; height:14pt; padding-left:5px; padding-right:5px;}
    TABLE.form {border: 0; border-spacing:0px; empty-cells:show; border-collapse:collapse;}
    TABLE.form TD {border-top:solid #000000 1px; height:20pt; }

    input{border-style: solid; border-width: 1; border-color:#C1CDD8;}  
    select{border-style: solid; border-width: 1; border-color:#C1CDD8;} 
    textarea{font-size:10pt; font-family:Arial; border-style: nonr; border-width:0; border-color:#C1CDD8;}
  
    size:landscape;
    margin-top:1cm;
    margin-bottom:1cm;
    margin-left:1cm;
    margin-right:0.5cm        
-->    
</STYLE>
